body {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	background: #f4f4ed url('image/bodyBG2.jpg') no-repeat top center;
	color: #000;
}

a {
	text-decoration: none;
	color: #1f7fe4;
}

a:hover {
	color: #64a9f1;
}

a:active { }

a:visited {
	text-decoration:none;
}

img {
	border: 5px solid #fff;
}

p {
	padding: 5px;
	padding-left: 0;
	margin: 3px 0 3px 0;
}

p.light {
	color:#9a9393;
}

p.largeText {
	font-size: 16px;
}

p.subtext {
	padding: 0;
	font-style: italic;
	padding-bottom: 15px;
	border-bottom: 1px solid #b5b6ad;
	margin-bottom: 25px;
	font-size: 11px;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.center {
	text-align: center;
}

.clear {
	display: block;
	clear: both;
}

.clearFull {
	display: block;
	clear: both;
	margin: 10px 0 10px 0;
}

.mainHeader {
	text-shadow: 0 1px 0 #FFFFFF;
	margin: 0;
}

h1 {
	font-size: 24px;
	font-weight: normal;
}

h2 {
	font-size: 20px;
	color: #25271D;
	font-weight: normal;
	margin: 0;
}

h3 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

h4 {
	font-size: 14px;
	margin: 0;
}

h5 {
	font-size: 12px;
	margin: 0;
}
	
h6 {
	font-size: 10px;
	margin: 0;
}

/*element styling*/
.darkDivider {
	display: block;
	height: 2px;
	background: url('image/darkDivider.jpg') repeat-x;
	margin: 5px 0;
}

.lightDivider {
	display: block;
	height: 2px;
	background: url('image/lightDivider.jpg') repeat-x;
	margin: 5px 0;
}

cite {
	padding: 3px 7px;
	background: #000;
	color: #fff;
}

/*tables*/
thead th {
	background-color: #000;
	border-bottom: 1px solid #000;
	color: #fff;
}

table th, table td {
	padding: 6px 10px;
	text-align: left;
	vertical-align: top;
}

tr.accent {
	background: #1D9EDF;
}

tr:hover td {
	background: #E5E6DF;
	color: #000;
}

/*blockquote*/
blockquote {
	background: url('image/openQuote.png') no-repeat top left;
	padding: 40px 0 0 45px;
	display: block;
}

/*lists*/
ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: lower-alpha;
}

ul.bullet li {
	padding: 0 0 1px 15px;
	border-bottom: 1px dotted;
	margin: 0 0 3px 0;
	color: #53544D;
	float: left;
	clear: both;
	font-size: 11px;
	background: url('image/li.jpg') no-repeat left center;
	margin: 0 0 5px 0;
}


/*input styling*/
.input {
	padding: 10px;
	background: #fff;
	display: block;
	color: #53544D;
	width: 220px;
	border: 1px solid #c7c7b6;
	float: left;
	margin: 10px 0 0 0;
}	

.submitButton {
	display: block;
	height: 31px;
	width: 113px;
	background: url('image/newMusicButton.jpg') no-repeat;
	line-height: 27px;
	text-align: center;
	color: #000;
	font-size: 12px;
	border: 0;
}




/*search form styling*/
#search {
	width:290px;
}

#search input {
	border:none;
	padding:0;
	margin:0;
}

#search .input {
	padding: 7px;
	background: #fff;
	display: block;
	color: #53544d;
	width: 200px;
	border: 1px solid #b5b6ad;
	float: left;
	margin-right: 10px;
}

#search .submit {
	cursor: pointer;
	border: none;
	width: 53px;
	height: 36px;
	background: url('image/submitBG.jpg') no-repeat;
	float: left;
	margin-top: -2px;
}


/*general page*/
#wrapper {
	width: 1010px;
	background: url('image/headerBG.png') no-repeat top center;
	margin: 30px auto 0 auto;
	padding-top: 10px;
}

#contentWrapper {
	width: 960px;
	margin: 0 auto;
}

/*header*/
#header {
}

a.logo {
	display: block;
	width: 246px;
	height: 72px;
	background: url('image/logo.png') no-repeat;
}

a.logo h1 {
	display: block;
	margin: 0 0 0 -9999px;
	padding: 0;
}

/*navigation*/
.navigationShell {
	margin-top: 40px;
}

.navigation {
	width: 960px;
	font-family: verdana, sans-serif;
	font-size: 12px;
	margin: 0 auto;
	padding: 0;
}

.navigation li {
	display:block;
	float:left;
}

.navigation li.last a {
	padding-right: 0;
	background: none;
}

.navigation li.first a {
	padding-left: 0;
}

.navigation li.current a {
	color: #1d9edf;
}

.navigation li.current a span {
}

.navigation li a:hover {
	color:#1d9edf;
}

.navigation li a {
	display: block;
	float: left;
	color: #2f2320;
	font-weight: bold;
	background: url('image/navDivider.jpg') no-repeat right 2px;
	padding:0 30px;
}
	
.navigation li a span {
	display: block;
	line-height: 18px;
	font-size: 10px;
	font-weight: normal;
	color: #4B4B40;
	text-shadow: 0 1px 0 #FFFFFF;
}

.navigation li a:hover span {
}


.messageList {
	list-style: none;
	margin: 5px 0 5px 0;
	padding: 0;
}

.messageList li {
	padding: 5px;
	margin: 3px 0 3px 0;
	cursor: pointer;
	-moz-border-radius: 5px;
}

.messageList .error {
	color: #6C0000;
	border: 1px solid #800000;
	background: #FFA7A1 url('image/messageListError.png') no-repeat 99.5% center;
}

.messageList .error a {
	color: #480101;
	text-decoration: underline;
}

.messageList .success {
	color: #1E491E;
	border: 1px solid #2D6B2D;
	background: #CAFFCA url('image/messageListSuccess.png') no-repeat 99.5% center;
}

.messageList .success a {
	color: #064200;
	text-decoration: underline;
}




.smallBanner {
	padding: 7px 15px;
	background: #fff;
	float: right;
	margin: 10px 0 0 0;
	border:1px solid #c0c0bd;
}

/*body*/

.welcomeText {
	background: #FBFBC3;
	-moz-border-radius: 3px;
	text-shadow: 1px 1px 0 #BFF0BF;
}

#mainContent {
	padding-top: 10px;
	width: 960px;
}

#mainContent form {
	margin-bottom: 10px;
}

#mainContent form label {
	display: block;
	margin-bottom: 5px;
}

#mainContent form div.error {
	font-size: 11px;
	color: #f00;
	margin-bottom: 5px;
}

#mainContent form label span {
	display: block;
	font-size: 11px;
}

#mainContent form label span.req {
	font-weight: bold;
}

#mainContent form label span .expl {
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: #5526D2;
}

#mainContent form label .text {
	border: 1px solid #737373;
	padding: 3px;
	font-size: 12px;
	font-family: helvetica, arial, sans-serif;
	width: 300px;
}

#mainContent form label .textLong {
	border: 1px solid #737373;
	padding: 3px;
	font-size: 12px;
	font-family: helvetica, arial, sans-serif;
	width: 600px;
}

#mainContent form label .smallText {
	font-size: 11px;
	width: 125px;
	border: 1px solid #9E9E9E;
	padding: 2px;
}

#mainContent .accountMenu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#mainContent .accountMenu li {
	float: left;
	background: #0073EA;
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding: 5px;
	margin-right: 10px;
	-moz-border-radius: 8px; 
}

#mainContent .accountMenu li a {
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
}

#mainContent .accountMenu li a:hover {
	color: #DAE6F3;
	text-shadow: 0 1px 0 #000;
}

#mainContent .contentBox {
	margin-top: 10px;
	padding: 5px;
	background: #e5e6df;
	-moz-border-radius: 8px;
	overflow: auto;
}

#mainContent .contentBox .loginForm {
	float: left;
	margin-right: 15px;
	padding-right: 10px;
	width: 450px;
}

#mainContent .contentBox .registerLink {
	float: left;
	text-align: center;
	width: 475px
}

#mainContent .contentBox .registerLink .registerButton {
	background: #0073EA;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	-moz-border-radius: 8px; 
	display: block;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	margin: 10px auto 0 auto;
	width: 150px;
}

#mainContent .contentBox .dashboardLeft {
	float: left;
	width: 465px;
	margin-right: 10px;
}

#mainContent .contentBox .dashboardRight {
	float: left;
	width: 475px
}

#mainContent .contentBox .dashboardLeft .mainImage {
	width: 310px;
	float: left;
	margin-right: 10px;
}

#mainContent .contentBox .dashboardLeft .followerCounts {
	float: left;
}

#mainContent .contentBox .followerBox {
	padding: 5px;
	width: 50px;
	background: #fff;
	color: #000;
	font-size: 30px;
	text-align: center;
	-moz-border-radius: 10px;
	font-weight: bold;
	float: left;
	margin-right: 10px;
}

#mainContent .contentBox .followerBox span {
	display: block;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
}

#mainContent .contentBox .dashboardImage {
	text-align: center;
}

#mainContent .contentBox .trackList {

}

#mainContent .contentBox .trackList .trackListItem {
	background: #fff;
	padding: 3px;
	-moz-border-radius: 3px;
	margin-top: 10px;
	overflow: auto;
}

#mainContent .trackList .trackListItem .image {
	float: left;
	margin-right: 5px;
	border: 0;
}

#mainContent .trackList .trackListItemLarge {
	width: 170px;
	height: 160px;
	float: left;
	margin-right: 10px;
	padding: 5px;
	background: #e5e6df;
	-moz-border-radius: 3px;
}

#mainContent .trackList .trackListItemLarge .image {
	text-align: center;
	height: 110px;
}











#mainContent .contentBox .trackLeft {
	float: left;
	width: 590px;
	margin-right: 10px;
}

#mainContent .contentBox .trackRight {
	float: left;
	width: 350px
}

#mainContent .contentBox .trackLeft .mainImage {
	width: 310px;
	float: left;
	margin-right: 10px;
	text-align: center;
}

#mainContent .contentBox .trackLeft .mp3Player {
	float: left;
}

#mainContent .contentBox .trackRight .trackInfo {
	padding: 5px;
	background: #fff;
	-moz-border-radius: 5px;
}




/*new music column*/
.newTrack { }
.newTrack p {
	margin: 0;
	padding: 0;
}

.albumText {
	display: block;
	width: 145px;
	float: left;
}

.albumTextLong {
	display: block;
	width: 250px;
	float: left;
}

.albumCoverImage {
	width: 64px;
	height: 64px;
}



.musicLength {
	display: block;
	height: 31px;
	width: 113px;
	background: url('image/newMusicButton.jpg') no-repeat;
	line-height: 27px;
	text-align: center;
	color: #53544d;
	font-size: 11px;
	float: right;
}

.trackData a {
	display: block;
	height: 31px;
	width: 113px;
	background: url('image/newMusicButton.jpg') no-repeat;
	line-height: 27px;
	text-align: center;
	color: #53544d;
	font-size: 11px;
}

.newMusicButton a {
	display: block;
	height: 31px;
	width: 113px;
	background: url('image/newMusicButton.jpg') no-repeat;
	line-height: 27px;
	text-align: center;
	color: #53544d;
	font-size: 11px;
	margin: auto;
}

.newMusicButton a:hover {
	color: #000;
}

.newMusicButton a span {
}


/*pagination*/
.pagination {
	padding: 5px;
	margin: 10px 0 10px 0;
	overflow: auto;
	background: #F4F4ED;
}

.pagination li {
	display: block;
	float: left;
	height: 24px;
	line-height: 25px;
	width: 39px;
}

.pagination li.current {
	width: 30px;
	text-align: center;
	font-size: 10px;
}

.pagination li.txt {
	padding: 0 10px 0 0;
	width: 90px;
}

.pagination li a {
	display: block;
	width: 39px;
	height: 24px;
	background: url('image/costIcon.jpg') no-repeat;
	line-height: 25px;
	text-align: center;
	float: right;
	color: #53544d;
	font-size: 10px;
}

.pagination li a:hover {
	color:#000;
}


/*footer*/
#footer {
	padding: 10px 0 10px 0;
}

#footer ul.links {
	display: block;
	width: 225px;
	float: left;
	margin-right: 20px;
}

#footer ul.links.last {
	margin-right: 0;
}

#footer ul.links.first {
	padding-left: 0;
	margin-left: 0;
}

#footer li a{
	color: #53544d;
	font-size: 11px;
}

#footer li a:hover {
	color: #000;
}

#footer li.title {
	font-size: 12px;
	border-bottom: 1px solid #b5b6ad;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	font-weight: bold;
}

#footer #copyright {
	padding-top: 10px;
	font-size: 11px;
	color: #53544d;
	display: block;
	text-align: center;
}